{:deps 
 {org.clojure/clojure {:mvn/version "1.10.3"}
  org.clojure/tools.cli {:mvn/version "1.0.206"}
  #_#_svg-clj/svg-clj {:local/root "/Users/adam/dev/svg-clj"}
  io.github.adam-james-v/svg-clj {:mvn/version "0.0.3-SNAPSHOT"}}}
