{:deps 
 {org.clojure/clojure {:mvn/version "1.10.3"}
  #_#_svg-clj/svg-clj {:local/root "/Users/adam/dev/svg-clj"}
  io.github.adam-james-v/svg-clj {:mvn/version "0.0.4"}
  
  reagent/reagent              {:mvn/version "1.1.0"}
  borkdude/sci                 {:mvn/version "0.2.7"}
  com.bhauman/figwheel-main     {:mvn/version "0.2.14"}}

 :paths
 ["src" "tests" "resources" "target"]

 :aliases
 {:cli
  {:extra-deps
   {org.clojure/tools.cli {:mvn/version "1.0.206"}}}

  :web
  {:extra-deps
   {cljsjs/react {:mvn/version "17.0.2-0"}
    cljsjs/react-dom {:mvn/version "17.0.2-0"}}}}}
